body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(62, 65, 118, 0.3);
}

header {
    background-color: #3e4176;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(62, 65, 118, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(62, 65, 118);
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(247, 144, 69, 0.5);
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3e4176;
    font-weight: bold;
}

.container {
    padding: 3px;
    min-width: 700px;
    min-height: 350px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    font-weight: 600;
    color: #222;
}

.loginPage{
    width: 400px;
    margin: 30px auto;
    background-color: rgb(238 238 238 / 60%);
}


/******************* BUTTONS START *******************/

button {
    padding: 10px;
    background-color: #333;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
}

.editButtons{
    width: fit-content;
}

.stdButton{
    background: #03849b;
}

.posButton{
    background-color: #009d00;
}

.negButton{
    background-color: #ff3100;
}

.neutralBtn {
    background-color: #f79045;
}

.primaryLoginBtn {
    position: absolute;
    left: 45%;
    transform: translateY(-140%);
}

.saveBackground {
    background: #87d1de;
}

.save {
    border: 0;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    margin: 5px auto;
    width: fit-content;
    height: fit-content;
}

.save:hover{
    cursor: pointer;
}

input[type=button]:hover
{
    background-color: #555;
    color: white;
}

input[type=submit]:hover {
    background-color: #555;
    color: white;
}

.btnList {
    z-index: 50;
    position: fixed;
    top: calc(91%);
    left: calc(36%);
    display: flex;
    margin: auto;
    width: 25%;
    flex-wrap: wrap;
    padding: 10px;
}

.editTripBtnList {
    display: flex;
    margin: auto;
    width: 25%;
    flex-wrap: wrap;
    padding: 10px;
}

/******************* BUTTONS END *******************/


/******************* FORMS END *******************/

.form {
    margin: 0 auto;
    background-color: rgb(238 238 238 / 60%);
    width: 50%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 47%;
}

.field {
    margin: 10px 0;
}

input {
    position: relative;
    padding: 12px;
    margin-top: 10px;
    width: 94%;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}

input::placeholder {
    color: #a7a7a7;
}

.loginForm {
    display: grid;
    gap: 10px;
}

.customerForm{
    width: 300px;
    display: grid;
    gap: 1px;
}

.destinationChoice{
    position: relative;
    padding: 12px;
    margin-top: 10px;
    width: 94%;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}

/******************* FORMS END *******************/


/******************* TABLES END *******************/

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

/******************* TABLES END *******************/


/******************* ALERT BOXES START *******************/

.message {
    z-index: 55;
    position: fixed;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 4s ease-out;

}

.message-hide {
    display: none;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    40% { opacity: 1; }
    100% { opacity: 0; }
}

.alert-box {
    color:#555;
    border-radius:30px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:30px;
    padding:10px 10px 10px 50px;
    margin:10px;
    max-width: fit-content;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.success {
    background:#e9ffd9 url("images/success.png") no-repeat 6px 55%;
    border:1px solid #a6ca8a;
    background-size: 38px;
}

.warning {
    background:#fff8c4 url("images/warning.png") no-repeat 6px 55%;
    border:1px solid #f2c779;
    background-size: 38px;
}

.error {
    background:#ffecec url("images/error.png") no-repeat 6px 55%;
    border:1px solid #f5aca6;
    background-size: 38px;
}

/******************* ALERT BOXES END *******************/
