body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(62, 65, 118, 0.3);

}

header {
    background-color: #3e4176;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(62, 65, 118, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(62, 65, 118);
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(247, 144, 69, 0.5);
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3e4176;
    font-weight: bold;
}


button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

table {
    border-collapse: collapse;
    /*width: 100%;*/
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

#start {

}

.loginPage{
    width: 400px;
    margin: 30px auto;
    background-color: rgb(238 238 238 / 60%);
}

.loginForm {
    display: grid;
    gap: 10px;
}

.editButtons{
    width: fit-content;
}

.stdbutton{
    background: #03849b;
    /*font-size: large;*/
}

.posbutton{
    background-color: #009d00;
}

.negbutton{
    background-color: #ff3100;
}

.neutralBtn {
    background-color: #f79045;
}

.primaryLoginBtn {
    position: absolute;
    left: 90%;
    transform: translateY(-140%);
}
.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}


.customerForm{
    width: 300px;
    display: grid;
    gap: 1px;
    /*margin: 0 auto;*/
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    box-sizing: border-box;*/
/*    scroll-behavior: smooth;*/
/*}*/
.container {
    /*position: absolute;*/
    /*top: calc(50% - 200px);*/
    /*left: calc(50% - 350px);*/
    padding: 3px;
    /*width: 500px;*/
    min-width: 700px;
    min-height: 350px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    /*text-transform: capitalize;*/
    font-weight: 600;
    color: #222;
}
.form {
    margin: 0 auto;
    background-color: rgb(238 238 238 / 60%);
    width: 50%;
    /*min-height: 100%;*/
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 47%;
}
.field {
    margin: 10px 0px;
}
input {
    position: relative;
    padding: 12px;
    margin-top: 10px;
    width: 94%;
    font-weight: 600;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}
.username label::after ,
.password label::after ,
.authority label::after ,
.email label::after {
    content: "*";
    position: absolute;
    color: red;
    margin-left: 5px;
    font-size: 16px;
}
input::placeholder {
    color: #a7a7a7;
}
.saveBackground {
    background: #87d1de;
}
.save {

    /*color: white;*/
    border: 0px;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    margin: 5px auto;
    width: fit-content;
    height: fit-content;
}
.save:hover{
    cursor: pointer;
}
.Brief label {
    margin-bottom: 10px;
}
textarea {
    margin-top: 10px;
    height: 120px;
    border: 0;
    width: 95%;
    border-radius: 5px;
    outline: 0;
    padding:12px;
}

.btnList {
    z-index: 55;
    position: fixed;
    top: calc(91%);
    left: calc(35%);
    display: flex;
    margin: auto;
    width: 25%;
    flex-wrap: wrap;
    padding: 10px;
}

.editTripBtnList {
    display: flex;
    margin: auto;
    width: 25%;
    flex-wrap: wrap;
    padding: 10px;
}

.destinatinChoise{
    position: relative;
    padding: 12px;
    margin-top: 10px;
    width: 94%;
    font-weight: 600;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}